<div class="width-75 mb-5" style="text-align: center">
  <form class="d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="1" class="d-none" />
    <button type="submit" class="button d-inline">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </form>
  <form class="d-inline m-auto" action="/campgrounds" method="GET">
    <input
      type="text"
      name="page"
      value="<%= pageNumber>1 ? Number(pageNumber)-1 : pageNumber %>"
      class="d-none"
    />
    <button type="submit" class="button d-inline">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </form>
  <% for (i = 0, len = num_of_pages; i < len; ++i) { %>
  <form class="d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="<%= (i+1) %>" class="d-none" />
    <button
      type="submit"
      class="button d-inline <%= Number(pageNumber)===i+1 ? 'is-active' : '' %>"
    >
      <%= (i+1) %>
    </button>
  </form>
  <% } %>
  <form class="d-inline m-auto" action="/campgrounds" method="GET">
    <input
      type="text"
      name="page"
      value="<%= pageNumber<num_of_pages ? Number(pageNumber)+1 : pageNumber %>"
      class="d-none"
    />
    <button type="submit" class="button d-inline">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </form>
  <form class="d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="<%= num_of_pages %>" class="d-none" />
    <button type="submit" class="button d-inline">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </form>
</div>
