<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/imageUpload.css" />

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-7 margin-lr-auto">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title: </label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          required
          value="<%= campground.title %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          required
          value="<%= campground.location %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label" id="price-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            required
            value="<%= campground.price %>"
            placeholder="0.00"
            aria-label="price"
            area-describedby="price-label"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add More Image(s):</label>
        <!-- <input
          class="form-control"
          type="file"
          name="campground[image]"
          id="image"
          multiple
        /> -->
        <div id="file-upload-form" class="uploader">
          <input
            id="file-upload"
            type="file"
            name="campground[image]"
            accept="image/*"
            class="form-control"
            multiple
          />
          <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden" />
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div>Select a file or drag here</div>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary"
                >Select a file</span
              >
            </div>
            <div id="response" class="hidden">
              <div id="messages"></div>
            </div>
          </label>
        </div>
      </div>
      <br />
      <% if(campground.images.length>0) { %>
      <div>Delete?</div>
      <div class="mb-3" style="display: inline">
        <% campground.images.forEach(function(img, i) { %>
        <div class="campground-images">
          <div class="form-check-inline">
            <input
              type="checkbox"
              class="image-checkbox"
              id="image-<%=i%>"
              name="deleteImages[]"
              value="<%=img.filename%>"
            />
          </div>
          <label for="image-<%=i%>">
            <img src="<%=img.thumbnail %>" class="img-thumbnail" alt=""
          /></label>
        </div>
        <% })%>
      </div>
      <div class="clearfix"></div>
      <% } %>
      <div class="mb-3">
        <button class="button is-info" aria-label="Update Campground">Update</button>
        <a
          href="/campgrounds/<%= campground._id %> "
          class="button is-primary no-decoration"
          >Back to the campground</a
        >
      </div>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();

  function ekUpload() {
    function Init() {
      console.log("Upload Initialised");

      var fileSelect = document.getElementById("file-upload"),
        fileDrag = document.getElementById("file-drag"),
        submitButton = document.getElementById("submit-button");

      fileSelect.addEventListener("change", fileSelectHandler, false);

      // Is XHR2 available?
      var xhr = new XMLHttpRequest();
      if (xhr.upload) {
        // File Drop
        fileDrag.addEventListener("dragover", fileDragHover, false);
        fileDrag.addEventListener("dragleave", fileDragHover, false);
        fileDrag.addEventListener("drop", fileSelectHandler, false);
      }
    }

    function fileDragHover(e) {
      var fileDrag = document.getElementById("file-drag");

      e.stopPropagation();
      e.preventDefault();

      fileDrag.className =
        e.type === "dragover" ? "hover" : "modal-body file-upload";
    }

    function fileSelectHandler(e) {
      // Fetch FileList object
      var files = e.target.files || e.dataTransfer.files;

      // Cancel event and hover styling
      fileDragHover(e);

      // Process all File objects
      for (var i = 0, f; (f = files[i]); i++) {
        parseFile(f);
        uploadFile(f);
      }
    }

    // Output
    function output(msg) {
      // Response
      var m = document.getElementById("messages");
      m.innerHTML = msg;
    }

    function parseFile(file) {
      console.log(file.name);
      output("<strong>" + encodeURI(file.name) + "</strong>");

      // var fileType = file.type;
      // console.log(fileType);
      var imageName = file.name;

      var isGood = /\.(?=gif|jpg|png|jpeg)/gi.test(imageName);
      if (isGood) {
        document.getElementById("start").classList.add("hidden");
        document.getElementById("response").classList.remove("hidden");
        document.getElementById("notimage").classList.add("hidden");
        // Thumbnail Preview
        document.getElementById("file-image").classList.remove("hidden");
        document.getElementById("file-image").src = URL.createObjectURL(file);
      } else {
        document.getElementById("file-image").classList.add("hidden");
        document.getElementById("notimage").classList.remove("hidden");
        document.getElementById("start").classList.remove("hidden");
        document.getElementById("response").classList.add("hidden");
        document.getElementById("file-upload-form").reset();
      }
    }

    function setProgressMaxValue(e) {
      var pBar = document.getElementById("file-progress");

      if (e.lengthComputable) {
        pBar.max = e.total;
      }
    }

    function updateFileProgress(e) {
      var pBar = document.getElementById("file-progress");

      if (e.lengthComputable) {
        pBar.value = e.loaded;
      }
    }

    // Check for the various File API support.
    if (window.File && window.FileList && window.FileReader) {
      Init();
    } else {
      document.getElementById("file-drag").style.display = "none";
    }
  }
  ekUpload();
</script>
