<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<div id="map"></div>

<div class="flex-container">
  <% for (let campground of campgrounds) { %>
  <div class="image flex-item">
    <% if(campground.images.length) { %>
    <img class="image__img" src="<%= campground.images[0].url %>" alt="" />
    <% } else { %>
    <img class="image__img" src="" alt="" />
    <% } %>
    <a class="flex-item-link" href="/campgrounds/<%= campground._id %>">
      <div class="image__overlay image__overlay--primary image__overlay--blur">
        <div class="image__title"><%= campground.title %></div>
        <h6>
          <% if(campground.reviews.length === 0) { %>
          <span class="text-muted">No Reviews</span>
          <% } else { %> <% if (campground.reviews.length === 1) { %>
          <span class="text-muted"
            ><%= campground.reviews.length %> Review</span
          >
          <% } else { %>
          <span class="text-muted"
            ><%= campground.reviews.length %> Reviews</span
          >
          <% } %> <% } %>
        </h6>
        <p class="image__description" style="color: antiquewhite">
          <%= campground.location %>
        </p>
        <p class="image__description"><%= campground.description %></p>
        <p class="image__description" style="color: bisque">
          <%= campground.dateCreated.toLocaleString() %>
        </p>
      </div>
    </a>
  </div>
  <% } %>
</div>

<% if(loggedUser) { %>
<a href="/campgrounds/new"
  ><img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F16%2F16909.png&f=1&nofb=1"
    id="fixedbutton"
/></a>
<% } %>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %> ";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
