<% layout('layouts/boilerplate.ejs') %>
<h1>All Campgrounds</h1>

<% for (let campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %>
      <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" />
      <% }else { %>
      <img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fagentestudio.com%2Fuploads%2Fpost%2Fimage%2F69%2Fmain_how_to_design_404_page.png&f=1&nofb=1" alt="" />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %> </small>
        </p>
        <a
          class="btn btn-primary btn-dark"
          href="/campgrounds/<%= campground._id %> "
          >View <%= campground.title %>
        </a>
        <!-- TO DO style created date  -->
        <div class="card-footer text-muted"><%= campground.dateCreated %></div>
        <!-- bruh you can use btn class -->
      </div>
    </div>
  </div>
</div>
<% } %>
