<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<link rel="stylesheet" href="/stylesheets/index.module.css" />
<div id="map"></div>

<nav
  id="searchNav"
  class="navbar navbar-expand navbar-light bg-white mb-5"
>
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sort By
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input type="text" name="sortby" value="rateAvg" class="d-none" />
              <button type="submit" class="dropdown-item">Highest Rated</button>
            </form>
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="total"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">Most Reviewed</button>
            </form>
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="priceLow"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">Price Descending</button>
            </form>
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="priceHigh"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">Price Ascending</button>
            </form>
            <a href="/campgrounds" href class="dropdown-item">Reset</a>
          </ul>
        </li>
      </ul>
      <div class="d-md-block">
        <form action="/campgrounds" method="GET" class="input-group">
          <input
            type="text"
            class="form-control"
            type="text"
            name="search"
            placeholder="Search Campgrounds..."
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="campgrounds-container">
  <% for (let campground of campgrounds.reverse()) { %>
  <div class="card chungus-card">
    <div class="card-image">
      <% if(campground.images.length) { %>
      <figure class="image is-4by3">
        <a href="/campgrounds/<%= campground._id %>">
          <img src="<%= campground.images[0].url %>" alt="" />
        </a>
      </figure>
      <% } else { %>
      <figure class="image is-4by3">
        <a href="/campgrounds/<%= campground._id %>">
          <img src="https://i.ibb.co/K79qr1X/download-1.png" alt="" />
        </a>
      </figure>
      <% } %>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <a
              class="no-decoration"
              href="/profile/<%= campground.author._id %> "
            >
              <img src="<%= campground.author.avatarUrl %>" alt=""
            /></a>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <a
              class="no-decoration"
              href="/profile/<%= campground.author._id %> "
              ><%= campground.author.username %></a
            >
          </p>
          <p class="subtitle is-6"><%= campground.location %></p>
        </div>
      </div>
      <h3 style="margin-top: -1em">
        <a class="no-decoration" href="/campgrounds/<%= campground._id %>"
          ><%= campground.title %>
        </a>
        <p class="d-inline">(<%= campground.price %>$/night)</p>
      </h3>
      <h6
        class="starability-result"
        data-rating="<%= Math.floor(campground.rateAvg) %>"
      ></h6>
      <h6 class="review-count">
        <% if(campground.reviews.length === 0) { %>
        <span class="text-muted">No Reviews</span>
        <% } else { %> <% if (campground.reviews.length === 1) { %>
        <span class="text-muted"><%= campground.reviews.length %> Review</span>
        <% } else { %>
        <span class="text-muted"><%= campground.reviews.length %> Reviews</span>
        <% } %> <% } %>
      </h6>
      <div class="content">
        <% if (campground.description.length>150) { %> <%=
        campground.description.substring(0,150) %>... <% } else { %> <%=
        campground.description %> <% } %>
        <br />
        <p class="text-muted"><%= campground.dateCreated.toLocaleString() %></p>
      </div>
    </div>
  </div>
  <% } %>
</div>

<% if(loggedUser) { %>
<a href="/campgrounds/new"
  ><img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F16%2F16909.png&f=1&nofb=1"
    id="fixedbutton"
/></a>
<% } %>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %> ";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
