<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<div id="map" style="width: 100%; height: 500px; margin-bottom: 10px"></div>

<div class="flex-container">
  <% for (let campground of campgrounds) { %>
  <div class="image flex-item">
    <% if(campground.images.length) { %>
    <img class="image__img" src="<%= campground.images[0].url %>" alt="" />
    <% } else { %>
    <img class="image__img" src="" alt="" />
    <% } %>
    <div class="image__overlay image__overlay--primary image__overlay--blur">
      <div class="image__title">
        <a class="flex-item-link" href="/campgrounds/<%= campground._id %>"
          ><%= campground.title %></a
        >
      </div>
      <p class="image__description" style="color: antiquewhite">
        <%= campground.location %>
      </p>
      <p class="image__description"><%= campground.description %></p>
      <p class="image__description" style="color: bisque">
        <%= campground.dateCreated %>
      </p>
    </div>
  </div>
  <% } %>
</div>

<% if(loggedUser) { %>
<a href="/campgrounds/new"
  ><img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F16%2F16909.png&f=1&nofb=1"
    id="fixedbutton"
/></a>
<% } %>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %> ";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
