<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/stars.css" />
<div id="map"></div>

<div class="level-right mb-4" style="display: block">
  <div class="level-item">
    <div class="field has-addons">
      <p class="control">
        <input class="input" type="text" placeholder="Find a post" />
      </p>
      <p class="control">
        <button class="button">Search</button>
      </p>
    </div>
  </div>
</div>

<div class="campgrounds-container">
  <% for (let campground of campgrounds) { %>
  <div class="card chungus-card">
    <div class="card-image">
      <% if(campground.images.length) { %>
      <figure class="image is-4by3">
        <a href="/campgrounds/<%= campground._id %>">
          <img src="<%= campground.images[0].url %>" alt="" />
        </a>
      </figure>
      <% } else { %>
      <figure class="image is-4by3">
        <a href="/campgrounds/<%= campground._id %>">
          <img src="" alt="" />
        </a>
      </figure>
      <% } %>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <a
              class="no-decoration"
              href="/profile/<%= campground.author._id %> "
            >
              <img src="<%= campground.author.avatarUrl %>" alt=""
            /></a>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <a
              class="no-decoration"
              href="/profile/<%= campground.author._id %> "
              ><%= campground.author.username %></a
            >
          </p>
          <p class="subtitle is-6"><%= campground.location %></p>
        </div>
      </div>
      <h3 style="margin-top: -1em">
        <a class="no-decoration" href="/campgrounds/<%= campground._id %>"
          ><%= campground.title %>
        </a>
      </h3>
      <h6
        class="starability-result"
        data-rating="<%= Math.floor(campground.rateAvg) %>"
      ></h6>
      <h6 class="review-count">
        <% if(campground.reviews.length === 0) { %>
        <span class="text-muted">No Reviews</span>
        <% } else { %> <% if (campground.reviews.length === 1) { %>
        <span class="text-muted"><%= campground.reviews.length %> Review</span>
        <% } else { %>
        <span class="text-muted"><%= campground.reviews.length %> Reviews</span>
        <% } %> <% } %>
      </h6>
      <div class="content">
        <% if (campground.description.length>150) { %> 
        <%= campground.description.substring(0,150) %>...
        <% } else { %> 
        <%= campground.description %> 
        <% } %> 
        <br />
        <p class="text-muted"><%= campground.dateCreated.toLocaleString() %></p>
      </div>
    </div>
  </div>
  <% } %>
</div>

<% if(loggedUser) { %>
<a href="/campgrounds/new"
  ><img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F16%2F16909.png&f=1&nofb=1"
    id="fixedbutton"
/></a>
<% } %>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %> ";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
