<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/profile.module.css" />

<div class="row width-75">
  <div class="col-6">
    <p><strong style="font-size: 24px"><%= user.username %></strong></p>
    <% if(loggedUser &&
    loggedUser._id.toLocaleString()===user._id.toLocaleString()) { %>
    <form
      action="/profile/<%= user._id %>/?_method=PUT"
      method="POST"
      novalidate
      id="updateAvatar"
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="image-upload mb-3">
        <label for="file-input">
          <label class="form-label show-image" for="avatar">
            <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
            <div class="photo-container">
              <img src="<%= user.avatar.url %>" alt="" />
            </div>
          </label>
        </label>
        <input
          type="file"
          class="form-control"
          id="avatar"
          placeholder=""
          value="<%= user.avatar.url %>"
          name="user[avatar]"
        />
      </div>
    </form>
    <a
      href="/profile/<%= user._id %>/edit"
      class="button is-info no-decoration mb-3"
      >Edit</a
    >
    <% } else { %>
    <div class="not-logged-in-photo-container mb-3">
      <img src="<%= user.avatar.url %>" alt="" />
    </div>
    <% } %>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= user.email %></p>
    <p>Member since <%= user.dateRegistered.toLocaleString() %></p>
  </div>
  <div class="col-6 mb-5">
    <button
      class="button is-focused is-rounded is-info is-light"
      onclick="viewCampgrounds()"
    >
      Campgrounds
    </button>
    <button
      class="button is-focused is-rounded is-info is-light"
      onclick="viewReviews()"
    >
      Reviews
    </button>
    <div id="campgrounds-view">
      <strong
        >Posted campgrounds, all <%= user.campgrounds.length %> of them:
      </strong>
      <% for (let campground of user.campgrounds.reverse()) { %>
      <div class="card mb-3">
        <div class="card-image">
          <% if(campground.images.length) { %>
          <figure class="image is-4by3">
            <a href="/campgrounds/<%= campground._id %>">
              <img src="<%= campground.images[0].url %>" alt="" />
            </a>
          </figure>
          <% } else { %>
          <figure class="image is-4by3">
            <a href="/campgrounds/<%= campground._id %>">
              <img src="https://i.ibb.co/K79qr1X/download-1.png" alt="" />
            </a>
          </figure>
          <% } %>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48 round-avatar">
                <img src="<%= user.avatar.thumbnail %>" width="48" height="48" alt="" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><strong><%= user.username %></strong></p>
              <p class="subtitle is-6"><%= user.email %></p>
            </div>
          </div>

          <div class="content">
            <p class="title is-4">
              <a class="no-decoration" href="/campgrounds/<%= campground._id %>"
                ><strong><%= campground.title %></strong></a
              >
            </p>
            <p class="subtitle is-6"><%= campground.location %></p>
            <!-- TODO add more link to see the rest of the description -->
            <% if (campground.description.length>150) { %> <%=
            campground.description.substring(0,150) %>... <% } else { %> <%=
            campground.description %> <% } %>
            <br />
            <time datetime="2016-1-1"
              ><%= campground.dateCreated.toLocaleString() %></time
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div id="reviews-view" style="display: none">
      <strong>Posted reviews, all <%= user.reviews.length %> of them: </strong>
      <% for (let review of user.reviews.reverse()) { %>
      <div class="card mb-3">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48 round-avatar">
                <img src="<%= user.avatar.thumbnail %>" width="48" height="48" alt="" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><strong><%= user.username %></strong></p>
              <p class="subtitle is-6"><%= user.email %></p>
            </div>
          </div>
          <div class="content">
            <p class="title is-4">
              <a class="no-decoration" href="/campgrounds/<%= review.campground._id %>"
                ><strong><%= review.campground.title %></strong></a
              >
            </p>
            <% if(review.body.length>150) { %>
            <p class="card-text">
              <%= review.body.substring(0,150) %><a
                style="color: blue; display: block; width: fit-content"
                >more</a
              >
            </p>
            <% } else { %>
            <p class="card-text"><%= review.body %></p>
            <% } %>
            <br />
            <time datetime="2016-1-1"
              ><%= review.datePosted.toLocaleString() %></time
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<script>
  document.getElementById("avatar").onchange = function () {
    document.getElementById("updateAvatar").submit();
  };
</script>

<script src="/javascripts/selectView.js"></script>
